.shopping-cart {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item:last-child {
  border-bottom: none;
}

.item-image img {
  max-width: 100px;
  height: auto;
}

.item-details {
  flex: 1;
  padding: 0 10px;
}

.item-price {
  flex-basis: 100px;
  text-align: right;
}
