/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1.5;
  display: flex;
}

.card-wrapper {
  max-width: 50%;
  margin: 0 auto;
}

img {
  width: 50%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item a img {
  height: 90px;
  width: 90px;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding: 2rem 1rem;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}

.product-link:hover {
  opacity: 0.9;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #252525;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.product-price span {
  font-weight: 400;
}

.last-price span {
  color: #f64749;
  text-decoration: line-through;
}

.new-price span {
  color: #256eff;
}

.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}

.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  margin: 0;
  list-style: none;

  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input {
  width: 60px;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn:first-of-type {
  background: #256eff;
}

.purchase-info .btn:last-of-type {
  background: #f64749;
}

.purchase-info .btn:hover {
  opacity: 0.9;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.card-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-content {
  padding-top: 0;
}

/*Cart*/
.icon-cart {
  margin-top: 110px;
}

.sbody {
  overflow: hidden; /* Prevent scrolling */
}

.container {
  max-width: 90vw;

  margin: auto;
  text-align: center;
  transition: transform 2s;
}

.icon-cart {
  display: block;
  position: absolute;
  /* width: 30px;
    height: 30px; */
  right: 120px; /* Adjust this value to position the icon initially */
  top: 0;
  transition: right 2s ease;
  z-index: 5;
}
.showCart .icon-cart {
  right: calc(40% - 30px); /* Adjust this value to move the icon to the left */
}

.cartTab {
  background-color: whitesmoke;
  width: 30%;
  color: black;
  top: 0;
  position: absolute;
  right: -30%;
  bottom: 0;
  inset: 0 -800px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 2s;
  box-shadow: #000 0 0 50px;
}

.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}

.cartTab .btn {
  text-align: center;

  border-bottom: 1px solid black;
}

.total-p {
  margin-bottom: 1rem;
  font-size: x-large;
  font-style: bold;
}
.cartTab .btn button {
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  height: 100px;
  font-size: x-large;
  background-color: #252525;
  color: white;
}

.cartTab .btn button:hover {
  opacity: 0.5;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
body.showCart .container {
  transform: translateX(-250px);
}

.cartTab .listCart .item img {
  width: 100%;
  height: 60px;
}
.cartTab .listCart .item {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 70px 150px 1fr 80px;
  gap: 5px;
  text-align: center;
  align-items: center;
  padding: 10px;
}
.empty-card {
  display: grid;
  place-items: center;
  height: 100%;
}
.total {
  padding: auto;
  border-top: 1px solid black;
}

.hcart-h1 {
  text-align: center;
}

.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;

  cursor: pointer;
}
.listCart .quantity {
  display: flex;
  justify-content: center;
}

.listCart quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}
.listcart.item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .cartTab {
    width: 90%;
    right: -90%;
  }
  .icon-cart {
    position: absolute;
    left: 0;
  }
}
