:root {
  font-size: 0.7rem;
}
body {
  background-color: white;
}
h1 {
}

/*  PRODUCTS */

.text-left {
  text-align: left;
}

.btn {
  text-align: left;
}
.no-outline {
  outline: none;
}

.custom-margin {
  margin: 5%;
}

.container-md {
  /* background-color: blueviolet; */
}

.bg-violet {
  /* background-color: blueviolet; */
}

input {
  /* background-color: aliceblue; */
}

[class*="col-"] {
  /* border: solid 2px yellow; */
}

.parent-div {
  text-align: center;
}

.filter-button {
  border: none; /* Remove default border */
  padding: 5px 10px; /* Adjust padding as needed */
  background-color: white;
  /* Set text color, adjust as needed */
  font-size: inherit; /* Inherit font size from parent element */
  cursor: pointer; /* Indicate clickable behavior */
  text-align: left;
}

.filter-button:focus {
  outline: none; /* Remove focus outline */
}

#products-container {
  background-color: aquamarine;
  border: solid 2px red;
  margin-top: 2rem;
}
@media (max-width: 770px) {
  img {
    width: 100%;
  }
}
#divdiv {
  background-color: antiquewhite;
}

#products-link {
}

.item-info-div {
  display: flex;
  justify-content: space-between;
  /* background-color: yellow;
  border: 2px solid blue; */
  width: 100%;
}

.products-item {
  /* background-color: brown; */
  width: 250px;
  margin: 0.5rem;
}

.products-item img {
  width: 250px; /* Adjust width as needed */
  height: 180px;
  /* border: 10px solid red; */
}

@media (max-width: 768px) {
  .products-item img {
    width: 100%; /* Adjust as needed for smaller screens */
    height: 350px; /* Adjust as needed for smaller screens */
    object-fit: cover;
  }
}
@media (max-width: 1024px) {
  .products-item img {
    width: 400px; /* Adjust as needed for smaller screens */
    height: 200px; /* Adjust as needed for smaller screens */
  }
}

/* END OF PRODUCTS*/
