:root {
  font-size: 0.7rem;
}
body {
  background-color: white;
}
h1 {
}

/*  PRODUCTS */

.text-left {
  text-align: left;
}

.btn {
  text-align: left;
}
.no-outline {
  outline: none;
}

.custom-margin {
  margin: 5%;
}

input {
  /* background-color: aliceblue; */
}

[class*="col-"] {
  /* border: solid 2px yellow; */
}

.parent-div {
  text-align: center;
}

.filter-button {
  border: none; /* Remove default border */
  padding: 5px 10px; /* Adjust padding as needed */
  background-color: white;
  /* Set text color, adjust as needed */
  font-size: inherit; /* Inherit font size from parent element */
  cursor: pointer; /* Indicate clickable behavior */
  text-align: left;
}
.height {
  height: 1140px;
}

.filter-button:focus {
  outline: none; /* Remove focus outline */
}
.filter-button.active {
  background-color: #ddd; /* Light background for active state */
  color: #333; /* Darker text for better contrast */
}

#products-container {
  /* background-color: aquamarine;
  border: solid 2px red; */
  margin-top: 2rem;
}
@media (max-width: 770px) {
  img {
    width: 100%;
  }
}
#divdiv {
  background-color: #f8f8ff;
}
#products-link {
}

.item-info-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow;
  border: 2px solid blue; */
  width: 100%;
}

.products-item {
  /* background-color: brown; */
  width: 250px;
  margin: 0.5rem;
  position: relative;
  display: inline-block; /* Allow products to sit side-by-side */
}
.products-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}
.product-name {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5px; /* Spacing between name and price */
}

.product-price {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;

  color: #333; /* Adjust for light background */
  opacity: 0.8; /* Slight transparency */
}
.products-item img {
  width: 250px; /* Adjust width as needed */
  height: 180px;
  /* border: 10px solid red; */
}
.products-item img:hover {
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  position: relative; /* Enable positioning for the icon */

  color: #555;
}

.img-icon {
  position: absolute; /* Position the icon within the image */
  top: 42%; /* Center the icon vertically */
  left: 50%; /* Center the icon horizontally */
  transform: translate(-50%, -50%); /* Fine-tune positioning if needed */
  display: none; /* Initially hidden */
}

.products-item img:hover ~ .img-icon {
  display: block; /* Show the icon on hover */
}

@media (max-width: 768px) {
  .products-item img {
    width: 100%; /* Adjust as needed for smaller screens */
    height: 350px; /* Adjust as needed for smaller screens */
    object-fit: cover;
  }
}
@media (max-width: 1024px) {
  .products-item img {
    width: 400px; /* Adjust as needed for smaller screens */
    height: 200px; /* Adjust as needed for smaller screens */
  }
}

#sort-bar {
  display: flex;
  justify-content: space-between;
}

/* END OF PRODUCTS*/

/* Begining of Home Page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  /* align-items: center; */
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
  padding: 20px;
}

.home-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;

  /* mix-blend-mode: multiply; */
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background-color: #413b3a;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.header {
  /* background: radial-gradient(#fff,#d4c4c4); */
}

.header .row {
  margin-top: 70px;
}

.btn:hover {
  background: #563434;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  padding: 10px;
  cursor: pointer;
}

.col-3 img {
  width: 100%;
  height: 200px;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
  height: 300px;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  color: #555;
  font-size: 14px;
}

.rating .fa {
  color: black;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* brands */
.brands {
  margin: 100px 0;
}

.col-5 {
  width: 160px;
  padding: 10px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}

/* footer */

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0px 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-2 p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

copyright {
  color: #8a8a8a;
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
.cart-icon {
  width: 28px;
  margin-left: 20px;
}

/* media queries */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: black;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: white;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .cart-icon {
    display: block;
    cursor: pointer;
  }
}

/* for less than 600px  */

@media only screen and (max-width: 600px) {
  .home-row {
    text-align: center;
  }

  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .categories {
    margin: 0;
  }

  .header .row {
    margin-top: 0;
  }
}

/* End of Home Page */
